*{
    padding: 0;
    margin: 0;
}
.input{
    visibility: hidden;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label{
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: lightgray;
    border-radius: 20px;
    cursor: pointer;
}

.circle
{
    width: 34px;
    height: 34px;
    background-color:white;
    border-radius: 50%;
     position: absolute;
    top: 3px;
    left:3px;
    
}

.input:checked + .label{
    background-color: green;
}