*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aliceblue;
}
.search-bar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding :10px;
    background-color: aliceblue;
  /* border: 2px solid black; */
    box-shadow: 6px 6px 8px rgba(0,0,0,0.2),-6px -6px 10px rgba(255,255,255,0.7);
    width: 350px;
    height: 40px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: width 0.3s ease, border-radius 0.3s ease;
}
.fa-magnifying-glass{
    width: 35px;
    position: absolute;
    left: 20px;
}

.mic{
    width: 45px;
    position: absolute;
    right: 10px;
    transition: all 0.3s ease;
}

.input{
    height: 100%;
    outline: none;
    margin: 10px 50px;
    background-color: aliceblue;
    border: none;
    width: 250px;
    font-size: larger;
    color:rgba(100,100,100);
    transition: all 0.3s ease;
}

.search-bar-container.active{
    width: 50px;
    border-radius: 50%;
}

.search-bar-container.active .input{
    width: 0px;
}

.search-bar-container.active .mic{
    width: 0px;
    padding: 0;
    margin: 0;
    opacity: 0;
    pointer-events: none;
}