* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn {
    padding: 20px 40px;
    background-color: pink;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;
}
.btn span{
    position: relative;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    background-color: orangered;
    width: 0px;
    height: 0px;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width .5s ,height .5s;
}

.btn:hover::before{
    width: 300px;
    height: 300px;
}