*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.container{
    height: 350px;
    width: 450px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0,0,0.3);
    border-radius: 10px;
    padding: 20px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}

.btn{
    background-color: green;
    width: 100%;
    color: white;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin: 25px 0;
    font-size: 16px;
     transition: background-color 0.2s ease;
}
input{
    width: 100%;
    height: 30px;
}
p{
    margin: 10px 0;
}

button:hover {
  background-color: #45a049;
}
.result{
     font-size: 24px;
  font-weight: bold
}
input:focus{
    outline: none;
}