* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    background-color: black;
    color: lightgray;
}
.container {
  text-align: center;
  width: 400px;
  position: relative;
}
.counter {
  font-size: 40px;
  margin: 20px 0;
}
.loading-bar-back {
  position: absolute;
  height: 8px;
  background-color: lightgray;
  width: 100%;
  border-radius: 5px;
  border: none;
}
.loading-bar-front {
  position: absolute;
  height: 8px;
  background-color: orangered;
  width: 0%;
  border-radius: 5px;
  border: none;
}
