*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    height:100vh;
    
    align-items: center;
    text-align: center;
    background-color: yellow;
    font-family: cursive;
}

.stats-container{
    margin: 20px;
    border :2px dotted green;
    min-width: 200px;
    height: 100px;
   position: relative;
   padding: 20px;
   white-space: nowrap;
}

@media(max-width: 600px){
    body{
        flex-direction: column;
    }
}

.icon{
    position: absolute;
    top:-30px;
    left: 50%;
    transform: translateX(-50%);
}

.counter{
    font-size: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: green;
    box-shadow: 10px 5px 8px rgba(255,0,0,0.3);
}
.stats-container h4{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
