@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Permanent+Marker&display=swap');
@import "tailwindcss";


*{
  font-family: "Outfit", sans-serif;
}

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;   /* IE & Edge */
    scrollbar-width: none;      /* Firefox */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
    background: transparent;
  }
}

::-webkit-scrollbar{
  display: none;
}