*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: brown;
}


.image-container{
    text-align: center;
}

.image-container img{
    margin: 10px;
    background-color: darkgray;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.btn{
    background-color: slateblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    cursor: pointer;
}


.btn:hover{
    opacity: .9;
}