*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background:linear-gradient(135deg,purple 20%,orange 80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

}

.menu{
    background-color: grey;
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 30px;
    align-items: center;
    border-radius: 8px;
    color: black;
    font-size: medium;
    font-weight: 600;
    opacity: 0.7;
    cursor: pointer;
    padding: 10px;
    margin-bottom:15px;
    transition: background-color 0.4s ease,transform 0.4s ease;
}

.menu.clicked{
    transform: scale(1.05);
    background-color: darkgray;
}
.menu p{
    display: flex;
    margin: 0 10px;
    align-items: center;
}
.social-media{
    background-color: gray;
    width: 300px;
    display: flex;
    flex-direction: column;
    opacity: 0.7;
    padding: 10px;
    list-style: none;
    cursor: pointer;
    border-radius: 8px;
    margin: 0 15px;

}

.social-media li{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    height: 40px;
    transition: padding 0.4s linear;
}

.social-media .fab{
    margin: 0 10px;
}

.social-media li:hover{
    background-color: darkgray;
    border-radius: 8px;
    padding-left:10px ;
}

.menu:hover{
    background-color: darkgray;
    border-radius: 8px;

}
.menu .fas{
    transition: transform .2s;  
}

.rotate .fas{
    transform: rotate(180deg);
}

.hide{
    /* display: none; */
    visibility: hidden;
}