*{
    padding: 0;
    margin: 0;
}

body{
    background-color: salmon;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;   
}

img{
    width: 70px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 60px;
    z-index: 2 ;
}
.clock{
    background-color: lightgray;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 5px solid darkgray;
    box-shadow: 0 4px 8px rgba(0, 0,0 ,0.3);
    position: relative;
}

.numbers div{
    position: absolute;
    font-size: 27px;
    font-weight: bold;
    color: lightgoldenrodyellow;
    text-shadow: 1px 1px 2px rgba(0, 0,0 ,0.3);
}

.twelve{
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
}

.three{
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}
.six{
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
}
.nine{
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}
.arrows{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.arrows::before{
    content: "";
    width: 25px;
    height: 25px;
    background-color: green;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0, 0,0 ,0.3);
    z-index: 4;
}

.arrows div{
    width: 7px;
    background-color: white;
    position: absolute;
    height: 120px;
    transform-origin: bottom center;
    bottom: 50%;
    z-index: 3;
    border-radius: 50% 50% 0 0 ;
    box-shadow: 1px 1px 2px rgba(0, 0,0 ,0.3);
}

.arrows .hours{
    height: 80px;
    transform: rotate(30deg);
}

.arrows .mins{
    height: 80px;
    transform: rotate(250deg);
    background-color: gold;
}