* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.split {
    height: 100%;
    width: 50%;
    top: 0;
    position: absolute;
}

.split.left {
    position: absolute;
    left: 0;
    background-color: pink;
    background-image: url(iphone.jpg);  
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: auto;
    filter: contrast(110%) brightness(105%);
}

.split.right {
    position: absolute;
    right: 0;
    background-color: lightblue;
    background-image: url(https://imgs.search.brave.com/oI-seAtsOxDGr3HR2kiU8X-i4jW0voWM6E2Jnmn-a6k/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvOTUx/OTM1MjU0L3Bob3Rv/L3NhbXN1bmctZ2Fs/YXh5LXM5LmpwZz9z/PTYxMng2MTImdz0w/Jms9MjAmYz01eE5E/Xzh0YzlGeE8tT21C/QW9xYmtjc09DMW1P/a3g3REkzaGliRUF6/WFRBPQ);
    background-size: cover;
    image-rendering: auto;
    /* image-rendering: -webkit-optimize-contrast; */
    filter: contrast(110%) brightness(105%);
}

h1 {
    font-size: 100px;
    letter-spacing: 4px;
    backdrop-filter: brightness(60%);
    position: absolute;
    width: 100%;
    top: 10%;
    color: red;
}

.btn {
    background-color: black;
    color: white;
    padding: 20px 40px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 8px;
    border: 4px solid;
    position: absolute;
    bottom: 20px;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn:hover {
    background-color: white;
    color: black;
    transition: all 0.4s ease-in;
}

.btn:active {
    transform: translateX(-50%) scale(0.90);
    background-color: black;
    transition: all 0.4s ease-in-out;
}

.active-left .left {
    width: 75%;
}

.active-left .right {
    width: 25%;
}

.active-right .left {
    width: 25%;
}

.active-right .right {
    width: 75%;
}


.left,.right{
    transition: width 2s ease-in-out;
}