*{
    padding: 0;
    margin: 0;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: yellow;
}
.feedback-container{
    position: relative;
    height: 200px;
    width: 400px;
    background-color: white;
    border-radius: 8px;
}
.emoji-container{
    position: absolute;
    left: 50%;
    top: 20%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
    transform: translateX(-50%);
    overflow: hidden;
    display: flex;
}

.star-container{
    position: absolute;
    bottom: 20%;
    left:50%;
    transform: translateX(-50%);
}
.fa-star{
    color: lightgray;
    cursor: pointer;
}       
.fa-regular{
    transform: translateX(0%);
    transition: transform 0.2s;
    margin: 1px;
}

.fa-solid.active{
    color: gold;
}