*{
    margin: 0;
   padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: salmon;
}

.container{
    background-color: pink;
    height: 200px;
    width: 400px;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-align: center;
}

textarea{
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 10px; 
    padding: 10px;
    font-size: 18px;
    border: 2px solid darkgray;
    border-radius: 10px;
    font-family: sans-serif;
}
.countercontainer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: grey;
    font-size:18px;
    font-weight: 200px;
    margin: 10px;
}
.total-character{
    color: blue;
}
.remaining-character{
    color: orangered;
}

textarea:focus{
    outline: none;
}