*{
    margin:0px;
    padding:0px;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: yellow;
}

.feedback-container{
    background-color: white;
    width: 400px;
    height: 200px;
    box-shadow: 0 6px 8px rgba(0,0,0, 0.3);
    border-radius: 10px;
    position: relative;
}

.emoji-container{
    position: absolute;
    left:50%;
    transform:translateX(-50%) ;
    top: 20%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
    display: flex;
    overflow: hidden;
}
.fa-regular{
    margin: 1px;
    transform: translateX(0%);
    transition: transform 0.2s;
}

.rating-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
}
.fa-star{
    color: lightgray;
    cursor: pointer;
}


.fa-star.active{
    color: gold;
}


footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.btn{
    background-color: greenyellow;
    color: black;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border:2px solid black;
    position: absolute;
    top: 70%;
    border-radius: 10px;   
    font-size: 15px;
}

.btn:hover{
    transform: scale(1.05);
}

.btn:active{
    transform: scale(1);
}