* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.container {
    padding: 20px;
    height: 300px;
    width: 500px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 10px;
    overflow: none;
    max-width: 600px;
    border-radius: 5px;
}

h1 {
    top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.active{
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
    font-size: 25px;
}

label {
    font-size: 18px;
    font-weight: bold;
}

#birthday {
    margin-left: 20px;
}

input {
    height: 30px;
    width: 80%;
    text-align: center;
    cursor: pointer;
    margin: 10px 0 10px 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    /* background-color: aqua; */
}

button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    /* outline: none; */
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}