*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    height: 400px;
    width: 300px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.button-wrapper{
    display: flex;
    justify-content: space-evenly;
}
button{
    width: 80px;
    height: 35px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size: medium;
    border: none;
}

#start{
    background-color: #27ae60;
}
#stop{
    background-color: #c0392b;
}

#reset{
     background-color: #7f8c8d;
}

p{
    font-size: 50px;
    font-weight: bold;
}