* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    height: 300px;
    width: 450px;
    justify-content: space-evenly;
    /* background-color: red; */
}

.heading {
    font-size: 2rem;
    text-align: center;
}

.btns{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    /* width: 100%; */
    align-items: center;
    gap: 20px;
}
button{
    height: 70px;
    width: 70px;
    font-size: 2.5rem;
    display: flex;            
    justify-content: center;  
    align-items: center;      
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: blueviolet;
    border:solid 2px black;
}
#rock{
    background-color: #ff0000;
}
#paper{
    background-color: #2196f3;
}
#scissor{
    background-color: #4caf50;
}
button:hover{
    opacity: 0.7;
}

#user-score{
    color: #2196f3;
}
#computer-score{
    color: #ff0000;
    
}
#scores{
    display: flex;
    justify-content: space-evenly;
}