@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1b1b1b;
}

.calculator span {
  display: grid;
  width: 60px;
  height: 60px;
 
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
}
.calculator span:active {
  background: rgb(255, 163, 26);
  color: #fff;
}
.span{
  cursor: pointer;
  height: 60px;
  width: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}