*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.container{
  text-align: center;
}
.step {
    z-index: 1; /* Higher than progress bar */
    position: relative; /* Needed for z-index to work */
    background-color: white;
    /* box-sizing: border-box; */
    border-radius: 50%; /* Makes it circular, optional */
    width: 40px;  /* Adjust size as needed */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid lightgray;
    color: lightgray;
    /* flex-direction: column; */
}

.progress-container{
    width: 500px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-bar-back{
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: lightgray;
    border: none;
    z-index: -1;
}
.progress-bar-front{
    position: absolute;
    height: 6px;
    width: 0%;
    background-color: green;
    border: none;
    z-index: -1;
    transition: .4s linear width;
}

.step.checked{
    color: green;
    border-color: green;
    text-wrap: nowrap;
    transition: all .4s linear;
    transition-delay: 0.3s;
}

.step.checked small{
    position: absolute;
    bottom: -25px;
    font-family: cursive;
}

.btn{
    background-color: slateblue;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 70px 10px 0;
    border-radius: 5px;
    cursor:pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.btn:hover{
    opacity: 0.9;
}

.btn:active{
    transform: scale(97%);
}

.btn:disabled{
    background-color: lightgray;
}

@media (max-width: 500px){
    .progress-container{
        width: 90vw;
    }
}