* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: linear-gradient(to left bottom, lightgreen, lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color: darkcyan;
}

.container {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    min-width: 350px;
    max-width: 450px;
    width: 85%;
}

.temp-container {
    display: flex;
    /* justify-content: space-evenly; */
    width: 100%;
    padding: 15px;
    font-size: 18px;
    position: relative;
    /* text-align: center; */
}

.heading {
    font-size: 32px;
}

.input::placeholder {
    color: darkgray;
}

.input {
    width: 220px;
    font-family: monospace;
    padding: 5px;
    float: right;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.5);
    color: darkgreen;
    font-size: 18px;
    position: absolute;
    right: 10px;
}