*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}
h4{
    font-size: 12px;
    font-weight: 100;
}
.testimonial-container{
    width: 500px;
    height: 100px;
    background-color: aqua;
    padding: 70px 20px;
    position: relative;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0,0,0.3);
}
img{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50px);
    top: -50px;
    border-radius: 50px;
}